language: scala
script:
  - sbt ++$TRAVIS_SCALA_VERSION $PLATFORM/clean $PLATFORM/update $PLATFORM/compile $PLATFORM/test
env:
  - PLATFORM=jvm
  - PLATFORM=js
scala:
  - 2.10.4
  - 2.11.4
jdk:
  - openjdk7
notifications:
  email:
    - adriaan.moors@typesafe.com
    - rickynils@gmail.com

# if we get weird timeouts, see https://github.com/spray/spray/pull/233
# 'set concurrentRestrictions in Global += Tags.limit(Tags.Test, 1)'
