<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Lato">
    <link href='/css/main.css' rel='stylesheet' type='text/css'>
    <link href='/css/syntax.css' rel='stylesheet' type='text/css'>
    <title>$title$</title>
  </head>

  <body>
    <div class="container">

      <div class="header">
        <div class="logo">
          <a href="/index.html"><img src="/img/logo_forall_h61.png" alt="ScalaCheck"/></a><a href="/index.html"><img src="/img/logo_scalacheck_h61.png" alt="ScalaCheck"/></a>
        </div>
        <div class="nav">
          <ul>
            <li><a href="/download.html">Download</a></li>
            <li><a href="/documentation.html">Documentation</a></li>
            <li><a href="$repoUrl$" target="_blank">Source</a></li>
          </ul>
        </div>

      </div>

      <div class="main">
        $body$
      </div>

      <div class="footer">
        <div class="left"><p>&copy; 2021 <a href="mailto:rickynils@gmail.com">Rickard Nilsson</a></p></div>
        <div class="logo"><a href="/index.html"><img src="/img/logo_forall_h30.png" alt="ScalaCheck"/></a></div>
      </div>

    </div>
  </body>

</html>
